body {
	background-image: url("../img/LunarLogo1.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
}
/**
 * Contact Section
 **/

div.sfooter-content section:last-child {
	background-color: purple;
}

.form-wrapper{
	background-color: purple;
	color: lawngreen;
	padding: 20px;
}

label {
	display: block;
	margin: 15px 0 5px 0;
}

input, textarea {
	width: 30vw;
	padding: 8px;
}

button {
	background-color: lawngreen;
	padding: 10px 31px;
	font-weight: bold;
	border: none;
}

form div:nth-child(4){
	margin-bottom: 15px;
}

.form-wrapper h2{
	margin-top: 0;
}

/**
 *Footer.
 **/
footer {
	background-color: purple;
	color: lawngreen;
	text-align: left;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	background-color: darkorchid;
}

li {
	float: left;
	color: white;
}

li a {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: purple;
}
h2 {
	color: white;
	float: left;
}

h1 {
	color: white;
	text-align: justify-all;
}
p {
	color: white;
}
img {
	align-items: flex-start;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: yellow;
	color: green;
	background-color: purple;
}

section:nth-child(4) h2 {
	text-align: center;
	margin-top: 0
}

section:nth-child(4) table {
	width: 100%;
	color: white;
	text-align: center;
}

section:nth-child(4) table td,
section:nth-child(4) table th {
	text-align: center;
	background-color: purple;
	padding: 8px;

}

html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/*
 *create a responsive container
 */
@media only screen and (min-width: 1995px) {
	.container { width: 1165px; }
}

@media only screen and (min-width: 992px) and (max-width: 1195px) {
	.container { width: 965px; }
}

@media only screen and (min-width: 765px) and (max-width: 985px) {
	.container { width: 745px; }
}


/***********************
 * Flexbox Sticky Footer
 * http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 ***********************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}



/**
 * Style rules
 **/
body {
	font-family: monospace;
}

section {
	padding: 2.75rem 0;
}

/**
 * Header Style Rules
 **/
header{
	color: white;
}


/**
 * Welcome Section
 **/

img[alt="welcome to my homepage"] {
	display: block;
	margin: 0 auto 2rem;
	size: 50px;
}

.instructions-wrapper{
	display: flex;
	align-items: flex-start;
	border: 3px solid purple;
	padding: 100px;
	alignment: right;
}

.instructions-wrapper img {
	width:225px;
}

.instructions-content {
	flex: 1;
	padding: 2rem;
}

.instructions-content h2 {
	margin-top: 0;
}


/**
 * about me styles
 **/
section.about-me {
	background-color: purple;
	color: lawngreen;
}

.about-me img {
	width: 305px;
	float: left;
	margin-right: 2rem;
	border: 3px solid lawngreen;
}

.about-me p span {
	color: white;
	font-style: italic;
}

section:nth-child(4) h2 {
	text-align: right;
	margin-top: 0
}

section:nth-child(4) table {
	width: 100%;
	color: white;
}

section:nth-child(4) table td,
section:nth-child(4) table th {
	text-align: left;
	background-color: #333333;
	padding: 8px;

}

/**
 *Footer.
 **/
footer {
	background-color: purple;
	color: lawngreen;
	text-align: left;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: purple;
}

/* Caption text */
.text {
	color: white;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: white;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: purple;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: purple;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
